/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 320px) and (max-width: 575px) 
{
	.navbar-toggler:focus{
		outline: none;
	}
	.navbar-toggler {
		border: 3px solid #ff817e !important;
	}
	.navbar .navbar-nav{
		margin: 0 !important;
		text-align: center !important;
	}
	.navbar .navbar-nav li a{
		margin-right: 0 !important;
	}
	header .banner-text{
		padding: 30px 0 !important;
	}
	header .banner-text h1 {
		font-size: 20px !important;
		margin: 16px 0 !important;
	}
	header .banner-text p {
		margin-bottom: 20px !important;
	}
	header .banner-text .bg-btn{
		padding: 10px 20px !important;
	}
	header .banner-text .play-btn{
		margin: 0 !important;
	}
	.about .about-text h6 {
		margin: 15px 0 !important;
		font-size: 16px !important;
	}
	.about .about-text h2{
		font-size: 18px !important;
		z-index: 9;
	}
	.about .about-text{
		z-index: 1;
	}
	.about .about-text::before {
		right: -12px !important;
		top: 95px !important;
		height: 80px;
		width: 100px;
		z-index: -1;
		opacity: 0.3 !important;
	}
	.about .about-text::after{
		left: 15px !important;
		top: -100px !important;
		opacity: .2;
	}
	.about .about-text{
		margin-bottom: 80px !important;
	}
	.glary .single-glary{
		height: 400px !important;
		width: 100% !important;
		margin-bottom: 20px !important;
	}
	.procedures{
		padding: 50px 0 !important;
	}
	.hadding h3{
		font-size: 30px !important;
	}
	.hadding p{
		margin: 20px 0 60px 0 !important;
	}
	.single-card{
		margin-bottom: 60px !important;
	}
	.testimonial{
		padding: 50px 0 !important;
	}
	.testimonial .testi-slider .single-slider p {
		margin: 30px 0 !important;
		font-size: 13px !important;
	}
	.team {
		padding: 100px 0 !important;
	}
	.team .single-team{
		margin-bottom: 100px !important;
	}
	.from-section .from-area .from-area-bg{
		width: 100% !important;
	}
	.from-section a.com-btn {
		font-size: 10px !important;
		padding: 12px 12px !important;
	}
	.blog-section {
		padding: 50px 0 !important;
	}
	.get-touch {
		padding: 50px 0 !important;
	}
	footer .f-menu ul li a {
		font-size: 10px !important;
		padding: 0 8px !important;
	}
	footer .f-bottom p{
		font-size: 8px !important;
	}
	footer .f-suc {
		margin: 10px 0 !important;
	}
	footer{
		padding: 50px 0 !important;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) and (max-width: 767px) 
{
	.navbar-toggler:focus{
		outline: none;
	}
	.navbar-toggler {
		border: 3px solid #ff817e !important;
	}
	.navbar .navbar-nav{
		margin: 0 !important;
		text-align: center !important;
	}
	.navbar .navbar-nav li a{
		margin-right: 0 !important;
	}
	header .banner-text{
		padding: 50px 0 !important;
	}
	header .banner-text h1 {
		font-size: 30px !important;
		margin: 20px 0 !important;
	}
	header .banner-text p {
		margin-bottom: 30px !important;
	}

	.about .about-text h2{
		font-size: 30px !important;
		z-index: 9;
	}
	.about .about-text{
		z-index: 1;
	}
	.about .about-text::before {
		right: -12px !important;
		top: 95px !important;
		height: 80px;
		width: 100px;
		z-index: -1;
		opacity: 0.3 !important;
	}
	.about .about-text::after{
		left: 15px !important;
		top: -100px !important;
		opacity: .2;
	}
	.about .about-text{
		margin-bottom: 100px !important;
	}
	.glary .single-glary{
		height: 400px !important;
		width: 49% !important;
		margin-bottom: 20px !important;
	}
	.procedures {
		padding: 100px 0 !important;
	}
	.single-card{
		margin-bottom: 60px;
	}
	.team {
		padding: 100px 0 !important;
	}
	.single-team{
		margin-bottom: 100px;
	}
	.from-section .from-area .from-area-bg{
		width: 100% !important;
	}
	.blog-section {
		padding: 100px 0 !important;
	}
	.get-touch {
		padding: 100px 0 !important;
	}
	footer .f-menu ul li a{
		padding:0 20px !important;
	}
	footer .f-suc {
		margin: 20px 0 !important;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) 
{
	.navbar-toggler:focus{
		outline: none;
	}
	.navbar-toggler {
		border: 3px solid #ff817e !important;
	}
	.navbar .navbar-nav{
		margin: 0 !important;
		text-align: center !important;
	}
	.navbar .navbar-nav li a{
		margin-right: 0 !important;
	}
	header .banner-text h1 {
		font-size: 40px !important;
		margin: 20px 0 !important;
	}
	.about .about-text::before {
		right: -12px !important;
		top: 95px !important;
		height: 80px;
		width: 100px;
		z-index: -1;
		opacity: 0.4 !important;
	}
	.about .about-text::after{
		left: 15px !important;
		top: -100px !important;
		opacity: .4;
	}

	.glary .single-glary{
		height: 500px !important;
		width: 49% !important;
		margin-bottom: 20px !important;
	}
	.single-card{
		margin-bottom: 60px;
	}
	.single-team{
		margin-bottom: 120px;
	}
	.from-section .from-area .from-area-bg{
		width: 100% !important;
	}
	.get-touch {
		padding:0 0 100px 0 !important;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) 
{
	.get-touch .con-icon-2::after{
		top: 90px !important;
	}
	.get-touch .con-icon-3::after {
		top: 165px !important;
	}

}